<!DOCTYPE html>
<html lang="en">
<body>
    <p id="locationDisplay"></p>
    <script>
        if (navigator.geolocation) {
            window.onload = function() {
                navigator.geolocation.getCurrentPosition(function(position) {
                    document.getElementById('locationDisplay').innerHTML = position.coords.latitude + "," + position.coords.longitude
                });
            }
        } else {
            console.log("Geo-location not supported by browser");
        }
    </script>
</body>
